<h3>Feeds Index</h3>
<ul>
<% feeds.each(function (feed){ %>
  <li>
    <a href="#/feeds/<%= feed.escape("id") %>">
      <%= feed.escape("title") %>
    </a>
    <button class="favorite" data-id="<%= feed.escape("id") %>">
      Favorite
    </button>
  </li>
<% }); %>
</ul>